In [10]:
#| hide
import pandas as pd
import numpy as np

# Cleaning Data

First let's define where our data is located to easliy import it.

In [43]:
working_data = '../data/working-data'
cleaned_data = '../data/cleaned-data'

Now we can import our data

In [36]:
df = pd.read_csv(f"{working_data}/Concatenated_Orig_data.csv",encoding='latin-1', header=0)

/tmp/ipykernel_3279938/1977663381.py:1: DtypeWarning: Columns (3,4,6,7,8,9,10,11,23,30,31,43,44,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,81,82,104,106,111,112,113,134,178,179,182,183,184,185,186,187,190) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{working_data}/Concatenated_Orig_data.csv",encoding='latin-1', header=0)

## Preprocessing

First, lets examine our data:

In [37]:
df

,Unnamed: 0,c5,c1,c2,c3,c4,c6,c7,c8,c9,...,32,Unnamed: 180,Unnamed: 181,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185,Unnamed: 186,Unnamed: 187,Unnamed: 188
0,0,19750101000049A,A,,0.4,,1975,1,1,19750101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,19750101000129A,A,,0.4,,1975,1,1,19750101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,19750101000139A,A,,0.4,,1975,1,1,19750101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,19750101000219A,A,,0.4,,1975,1,1,19750101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,19750101000229A,A,,0.4,,1975,1,1,19750101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215303,215303,20220207001489I,I,91,,,2022,2,7,20220207,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215304,215304,20220206001469I,I,91,,,2022,2,6,20220206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215305,215305,20220206001479I,I,91,,,2022,2,6,20220206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215306,215306,20220131001459I,I,O,,,2022,1,31,20220131,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215307,215307,20211118022049A,A,91,,,2021,11,18,20211118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We start cleaning by removing any duplicates record numbers (col c5)

In [38]:
df = df.drop_duplicates(subset=['c5'])
df

,Unnamed: 0,c5,c1,c2,c3,c4,c6,c7,c8,c9,...,32,Unnamed: 180,Unnamed: 181,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185,Unnamed: 186,Unnamed: 187,Unnamed: 188
0,0,19750101000049A,A,,0.4,,1975,1,1,19750101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,19750101000129A,A,,0.4,,1975,1,1,19750101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,19750101000139A,A,,0.4,,1975,1,1,19750101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,19750101000219A,A,,0.4,,1975,1,1,19750101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,19750101000229A,A,,0.4,,1975,1,1,19750101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215303,215303,20220207001489I,I,91,,,2022,2,7,20220207,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215304,215304,20220206001469I,I,91,,,2022,2,6,20220206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215305,215305,20220206001479I,I,91,,,2022,2,6,20220206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215306,215306,20220131001459I,I,O,,,2022,1,31,20220131,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215307,215307,20211118022049A,A,91,,,2021,11,18,20211118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In this case, no duplicates were dropped

## Feature Extraction

In this study, 8 maintenance codes were observed as relvant. We'll extract those now

In [39]:
maintenance_codes = ['AF', 'DE', 'AI', 'AP', 'AU', 'EQ', 'II', 'ME']

In [40]:
df = df[df['c78'].isin(maintenance_codes)]
df['c78']

667       AU
1065      ME
2721      AU
3067      AU
3637      AF
          ..
180052    II
180056    AF
180058    II
180152    II
180226    ME
Name: c78, Length: 2763, dtype: object

Next, we identify and select relevant data and label columns

In [41]:
text_columns = ['c119','c77','c79','c81', 'c85', 'c87', 'c89', 'c91', 'c93', 'c95', 'c97', 'c99', 'c101', 'c103', 'c105', 'c107', 'c109', 'c131', 'c133', 'c135', 'c137', 'c146', 'c148', 'c150', 'c154','c161', 'c163', 'c183', 'c191']
label_columns = ['c78', 'c80', 'c86', 'c5']

columns_to_keep = text_columns + label_columns
df.drop(columns=[col for col in X if col not in columns_to_keep], inplace=True)
df

/tmp/ipykernel_3279938/1765701054.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[col for col in X if col not in columns_to_keep], inplace=True)

,c5,c119,c78,c80,c86,c77,c79,c81,c85,c87,...,c135,c137,c146,c148,c150,c154,c161,c163,c183,c191
667,19750315005389A,TAILWHEEL COCKED RIGHT PRIOR TO TKOF. ...,AU,V,,Attempt Operation Wi,Other/Miscellaneous,Pilot-In-Command,,,...,,,UNDER 12501 LBS,MONOPLANE-HIGH WING/PARA WING,POWERED,,,,,
1065,19750419011349A,TOW PLANE BECAME AIRBORNE THEN SETTLED.STUDENT...,ME,V,,Fail/Incorrect Use M,Other/Miscellaneous,Pilot-In-Command,,,...,,,UNDER 12501 LBS,KITE/SAILWING,NONPOWERED,,,,,
2721,19751029037799A,"2ND ILS APCH,ACFT'S G/S INOP.LOM TUNED TO WRON...",AU,Z,IP,Attempt Operation Wi,Weather,Pilot-In-Command,Improper Inst Proc T,Weather,...,,,UNDER 12501 LBS,MONOPLANE-LOW WING,POWERED,,,,,
3067,19751209037899A,PLT NOTED SOFT R BRAKE PEDAL DRG TAXI TO TKOF....,AU,V,,Attempt Operation Wi,Other/Miscellaneous,Pilot-In-Command,,,...,,,UNDER 12501 LBS,MONOPLANE-LOW WING,POWERED,,,,,
3637,19750818025579A,TAXI OFF HARD SFC DUE TFC R MAIN GR BROKE THRO...,AF,H,,Improper Maintenance,Hidden Hazardous Obj,Pilot-In-Command,,,...,,,UNDER 12501 LBS,MONOPLANE-HIGH WING/PARA WING,POWERED,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180052,20080227010559I,(-23) A/C RELOCATED TO NEW HANGAR TO CHECK SIZ...,II,V,,Inadequate Insp Of A,Other/Miscellaneous,Pilot-In-Command,,,...,,,UNDER 12501 LBS,MONOPLANE-LOW WING,POWERED,,,,,
180056,20080223013919I,(-23) ON 2/23/08 @ APPROXIMATELY 2130 DURING T...,AF,V,,Improper Maintenance,Other/Miscellaneous,Airport Supervisory,,,...,,,UNDER 12501 LBS,MONOPLANE-LOW WING,POWERED,UNDER 750 HP,,,,
180058,20080226013819I,(-23) PILOT TOOK OFF FOR LEESBURG AIRPORT AND ...,II,V,56,Inadequate Insp Of A,Other/Miscellaneous,Pilot-In-Command,5610,,...,,,UNDER 12501 LBS,MONOPLANE-MID WING,POWERED,UNDER 750 HP,,,,
180152,20080702843529I,(-23) OWNER FORGOT TO FASTEN THE LOWER LEFT 4 ...,II,V,71,Inadequate Insp Of A,Other/Miscellaneous,Pilot-In-Command,7110,,...,,,UNDER 12501 LBS,MONOPLANE-LOW WING,POWERED,UNDER 750 HP,Declared Emergency,,,
180226,20080404840559A,(-23) THE AIRCRAFT EXPERIENCED SEVERE TURBULAN...,ME,Z,OM,Fail/Incorrect Use M,Weather,Pilot-In-Command,"Other, Miscellaneous",Weather,...,Flight Personnel,Discussion,OVER 12500 LBS,MONOPLANE-LOW WING,POWERED,,,,Pilot and Ground Cre,

We can now save this as our cleaned data

In [47]:
df.to_csv(f'{cleaned_data}/Maintenance_Text_data.csv')

In [48]:
df

,c5,c119,c78,c80,c86,c77,c79,c81,c85,c87,...,c135,c137,c146,c148,c150,c154,c161,c163,c183,c191
667,19750315005389A,TAILWHEEL COCKED RIGHT PRIOR TO TKOF. ...,AU,V,,Attempt Operation Wi,Other/Miscellaneous,Pilot-In-Command,,,...,,,UNDER 12501 LBS,MONOPLANE-HIGH WING/PARA WING,POWERED,,,,,
1065,19750419011349A,TOW PLANE BECAME AIRBORNE THEN SETTLED.STUDENT...,ME,V,,Fail/Incorrect Use M,Other/Miscellaneous,Pilot-In-Command,,,...,,,UNDER 12501 LBS,KITE/SAILWING,NONPOWERED,,,,,
2721,19751029037799A,"2ND ILS APCH,ACFT'S G/S INOP.LOM TUNED TO WRON...",AU,Z,IP,Attempt Operation Wi,Weather,Pilot-In-Command,Improper Inst Proc T,Weather,...,,,UNDER 12501 LBS,MONOPLANE-LOW WING,POWERED,,,,,
3067,19751209037899A,PLT NOTED SOFT R BRAKE PEDAL DRG TAXI TO TKOF....,AU,V,,Attempt Operation Wi,Other/Miscellaneous,Pilot-In-Command,,,...,,,UNDER 12501 LBS,MONOPLANE-LOW WING,POWERED,,,,,
3637,19750818025579A,TAXI OFF HARD SFC DUE TFC R MAIN GR BROKE THRO...,AF,H,,Improper Maintenance,Hidden Hazardous Obj,Pilot-In-Command,,,...,,,UNDER 12501 LBS,MONOPLANE-HIGH WING/PARA WING,POWERED,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180052,20080227010559I,(-23) A/C RELOCATED TO NEW HANGAR TO CHECK SIZ...,II,V,,Inadequate Insp Of A,Other/Miscellaneous,Pilot-In-Command,,,...,,,UNDER 12501 LBS,MONOPLANE-LOW WING,POWERED,,,,,
180056,20080223013919I,(-23) ON 2/23/08 @ APPROXIMATELY 2130 DURING T...,AF,V,,Improper Maintenance,Other/Miscellaneous,Airport Supervisory,,,...,,,UNDER 12501 LBS,MONOPLANE-LOW WING,POWERED,UNDER 750 HP,,,,
180058,20080226013819I,(-23) PILOT TOOK OFF FOR LEESBURG AIRPORT AND ...,II,V,56,Inadequate Insp Of A,Other/Miscellaneous,Pilot-In-Command,5610,,...,,,UNDER 12501 LBS,MONOPLANE-MID WING,POWERED,UNDER 750 HP,,,,
180152,20080702843529I,(-23) OWNER FORGOT TO FASTEN THE LOWER LEFT 4 ...,II,V,71,Inadequate Insp Of A,Other/Miscellaneous,Pilot-In-Command,7110,,...,,,UNDER 12501 LBS,MONOPLANE-LOW WING,POWERED,UNDER 750 HP,Declared Emergency,,,
180226,20080404840559A,(-23) THE AIRCRAFT EXPERIENCED SEVERE TURBULAN...,ME,Z,OM,Fail/Incorrect Use M,Weather,Pilot-In-Command,"Other, Miscellaneous",Weather,...,Flight Personnel,Discussion,OVER 12500 LBS,MONOPLANE-LOW WING,POWERED,,,,Pilot and Ground Cre,