In [13]:
#| hide
# This notebook is an outline for 10 fold cross validation neural network

# Environment Setup
#! pdm add transformers
#! pdm add datasets
#! pdm add keras==2.6.*
#! pdm add torch==1.8.0 torchtext==0.9.0
#! pdm add torchtext

In [27]:
import torch

ModuleNotFoundError: No module named 'torch'

# Selecting Data

First lets define where our data is located:

In [6]:
cleaned_data = '../data/cleaned-data'

Now we can import our data

In [7]:
df = pd.read_csv(f'{cleaned_data}/Maintenance_Text_data.csv')
df.shape

(2763, 34)

In [11]:
data = pd.DataFrame()
data['text'] = df['c119']
data['label'] = df['c78']
data.head()

                                                text label
0  TAILWHEEL COCKED RIGHT PRIOR TO TKOF.         ...    AU
1  TOW PLANE BECAME AIRBORNE THEN SETTLED.STUDENT...    ME
2  2ND ILS APCH,ACFT'S G/S INOP.LOM TUNED TO WRON...    AU
3  PLT NOTED SOFT R BRAKE PEDAL DRG TAXI TO TKOF....    AU
4  TAXI OFF HARD SFC DUE TFC R MAIN GR BROKE THRO...    AF